<!DOCTYPE html>
<html>
  <head>
    <title>Kanary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.splashUrl = "<%= image_url("splash.jpg") %>";
      window.movie_index_banner = "<%= image_url('some_girls_banner.jpg') %>";
      
      window.caret_icon = "<%= image_url('caret-down-solid.svg') %>";
      window.search_icon = "<%= image_url('search-solid.svg') %>";
      window.plus_icon = "<%= image_url('plus-solid.svg') %>";
      window.check_icon = "<%= image_url('check-solid-green.svg') %>";
      window.next_arrow_icon = "<%= image_url('angle-right-solid.svg') %>";
      window.prev_arrow_icon = "<%= image_url('angle-left-solid.svg') %>";
      window.close_icon = "<%= image_url('times-solid.svg') %>";
      window.play_icon = "<%= image_url('play-solid.svg') %>";

      window.portrait = "<%= image_url('portrait.jpg') %>";
      window.github_icon = "<%= image_url('github.png') %>";
      window.linkedin_icon = "<%= image_url('linkedin.png') %>";
    </script>

    <link rel="stylesheet"
      type="text/css"
      charset="UTF-8"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"
    />
    <link rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"
    />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
